Collecting gunicorn
  Using cached gunicorn-26.0.0-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: pip in c:\users\user\appdata\local\programs\python\python314\lib\site-packages (25.3)
